@import './styles/reset.css';
/* @import-normalize; */
@import "~bootstrap/scss/bootstrap";
@import './styles/_colors.scss';

.App {
  text-align: center;
}

.App-header {
  background-color: $color2;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  font-size: calc(10px + 2vmin);
  color: $color1;
}

.App-header {
  nav {
    width: 100%;
  }
  .navList {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    &_li a{
      color: $color1;
      font-size: 18px;
    }
  }
  
  .navList li 
  
  .activeNav {
    text-decoration: underline;
  }
}




.Counter {
  background-color: bisque;
  width: 90%;
  margin: 0 auto;
  padding: 20px 30px;
  border: 3px solid black;
  border-radius: 6px;
}

.checkedItem {
  text-decoration: line-through;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
}

.productCard {
  border: 1px solid black;
  background-color: antiquewhite;
  border-radius: 6px;
  padding: 10px 20px;
}

.productCard:hover {
  transform: scale(1.1);
}

.productCard img {
  width: 100%;
  object-fit: cover;
  height: 100px;
}

.productImageCover {
  width: 100%;
}

.lngDiv {
  display: flex;
  gap: 10px;
}

.lngDiv button {
  height: fit-content;
}


.carouselSlide {
  height: 40vh;
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: center;
}